*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'comic sans MS';
    src: ('/COMIC.TTF')
}
body{
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    width: 100vw;
    height: 100vh;
    background-image: url('./mendi.jpeg');
    font-family: 'comic sans MS', sans-serif;
    .container{
        background-color: greenyellow;
        width: 80%;
        height: 80%;
        grid-column: 2;
        align-self: center;
        justify-self: center;
        background-image: url('./mendi-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-rows: 10% 1fr;
        h1{
            text-align: center;
            font-size: 50px;
        }
        marquee{
            font-size: 36px;
            align-self: center;
            position: relative;
            span{
                font-size: 14px;
                position: absolute;
                top: -10;
            }
        }
    }
    .flying-rick{
        pointer-events: none;
        animation: fly 50s linear infinite;
            pointer-events: none !important;
            top: 0;
            left: 0;
            transform: translateX(-120%) translateY(-120%) rotateZ(0);
            position: fixed;
            animation-delay: 1s;
            z-index: 999999;
            height: 50%;
    }
   
}
@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}
@media screen and (max-width: 1024px){
     body{
            .container{
            h1{
                font-size: 36px;
            }
            marquee{
                font-size: 24px;
                span{
                    font-size: 10px;
                }
            }
        }
    }
} 
@media screen and (max-width: 425px){
    body{
       
           .container{
            grid-column: 1/-1;
            width: 98%;
           h1{
               font-size: 20px;
           }
           marquee{
               font-size: 15px;
               span{
                   font-size: 8px;
               }
           }
       }
   }
} 